* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: " Rammetto";

}

body {
    background: #FFFFFF;
    margin: auto;
    width: 100%;
    height: auto;
}




/* .Banner img{
    background-color: #101E2E;
    width: 100%;
    display: flex;
    height: auto;
    --bs-gutter-x: 0rem !important;
    flex-direction: row;
} */
.BannerColumn1{
    padding: 2%;
}
.Banner{
    background-color: #101E2E;
    /* height: 45vh; */


 }
 .Banner-heading{
    display: flex;
    color: #FFFFFF;
    /* text-transform: uppercase; */
    flex-direction: column;

 }
 .Banner-heading h2{
    text-transform: uppercase;
    font-weight: bold;
 }
 .Banner-heading p{
    font-size: 20px;
 }
 .BannerColumn2{
background-image: url('../../images/Rectangle\ 27.png');

 }

.body-row{
    --bs-gutter-x: 0rem !important;
    /* background-image: url('Group-103\ \(1\).jpg'); */

}
.column4 img{
    float: right;
}
.col-md-6 img{
    width:50%;
    height:20%;
}

.small_banner{
    background-color: #101E2E;
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 40vh; */
    border-radius: 10px;
    /* width: 80%; */

}
 .small_banner h4{
    color:white;
    padding-left: 55px;
    padding-right: 5px;
    padding-top: 13px;
    text-transform: uppercase;
 }
 .getStarted_btn{
    background-color: white;
    color: #BB3C3C;
    border:2px solid #BB3C3C;
    text-transform: uppercase;
    width: 50%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 8px;
    font-weight: bold;
    /* background-image: url(Arrow.png); */
    background-repeat: no-repeat;
    /* background-position: right 18px center; */
    /* background-size: 28px; */
 }
 .getStarted_btn img{
    width: 27px;
    /* height: 70%; */
 }
 .upload{
  margin-top: 52px;
 }
 .upload h2{
    text-transform: uppercase;
    color: #020151;
    border-bottom: 5px solid #020151;
    text-align: center;
    box-shadow:  4px  #000000 25%;
 }
 .upload_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .upload button{
    background-color: #020151;
    color: white;
    border:2px solid #020151;
    text-transform: capitalize;
    width: 50%;
    font-size: 18px;
    padding: 2px;
    border-radius: 8px;
    font-weight: bold;
 }
 .upload-btn{
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  }
  .upload-btn-after{
    opacity: 1;
  }
 .column2{
    display: flex;
    flex-direction: row;
    padding-right: 4%;
    padding-bottom: 2%;
    
 }
 .fakedgreeImage{
    width:70%
 }

 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
 }
 
 .content p {
    margin-right: 13rem;
 }
 .content h4{
    text-decoration: underline  #101E2E ;
 }

 /* Media Query */
 @media only screen and (max-width:786px){
    .column1 img{
        display:none
      
    }
    .column4 img{
        display:none

    }
    .column3{
        padding-bottom: 2%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .column2{
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding-right: 0px;
    }
    .getStarted_btn{
        background-position: right 38% center;
    }
    .data_image img{
        float: right;
         width: 294px;
       /* padding-top: 13%; */ 
     }
     .content p{
        margin-right: 0px;
     }
     .content h4{
        font-size: 1em !important;
     }
     .roww{
        overflow-x: hidden !important;
     }
    
 }
 /* styles for tablets and small desktops */

 @media only screen and (max-width: 1023px) and (min-width:576px){
    .data_image img{
        float: right;
        width: 337px;
       padding-top: 13%;
     }
 } 
 
