:root {
    --blue: #001273;
    --white: #ffffff;
  }
  
.heading {
    color: var(--blue);
    font-size: 2.5em;
    font-weight: bolder;
    padding: 10px;
    border-bottom: 3px solid var(--blue);
    text-align: center;
  }