* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: " Rammetto";

}

body {
  background: #FFFFFF;
  margin: auto;
  width: 100%;
  height: auto;




}

/* NavbAR CODE START */

.navbar {
  background-color: #020151;

}

.navbar-toggler {
  background-color: white;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-left: 10px
}

.nav-item a {
  font-size: 12px;
  font-size: 36px;
  font-weight: 600;

  display: inline-block;
  padding: 8px;


  border-radius: 30px;
}

a {
  text-decoration: none;
}

.navbar-nav>li>a:hover {
  background-color: white;
  border-radius: 30px;
  color: black;


}

.navbar-nav>li>a {
  margin-left: 10px;
  padding-left: 5px;
  /* padding: 10px; */
  margin-right: 10px;
  font-size: 12px;
  color: white;
  /* background-color:#001273; */
  letter-spacing: 1.71429px;
}

/* NavbAR CODE End */
/* -------heading div start */

.preview {
  text-align: center;
  margin: 30px;
  color: #42535E;
  margin-top: 50px;
  font-weight: bolder;
  box-shadow: #001273;

}

/* -------heading div end */
/* ----------Certificate code start */
.certificate {

  text-align: center;
  margin-bottom: 10px;


}

.certimg {
  position: relative;

}

.Certcontent {
  position: absolute;

  top: 10%;
  right: 50px;
  left: 50px;

}

.Certcontent h5 {
  font-weight: bold;
  font-size: 1.5vw;

}
h4{
  font-weight: bolder;
  font-size: 2vw;

}
.Certcontent p {

  font-size: 1vw;
  margin: 1%;
font-weight: bold;

}


.sealdiv p,
img {
  display: inline;

}

/* ----------Certificate code end */

/* ---------Button code start */
.buttons {
  margin: 20px;
}

.btn {
  margin: 20px;
  background-color: var(--background-color);
  color: rgb(255, 255, 255);
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  --background-color: rgb(17, 17, 70);
  --border-size: 2px;
  --accent-color: rgb(17, 17, 17);
  overflow: hidden;
  height: 40px;

}


.btn:hover {
  color: white;
  background-color: black;
}

/* ---------Button code end */
/* -------fOOTER CODE START */
.footer {
  padding: 5px;

  background-color: #020151;
  color: white;
  text-align: center;

}

.footer p {
  font-weight: 1000;
  margin-top: 10px;
}

/* -------Footer code END */




@media  (min-width:600px) and (max-width: 900px) 
{
  .certimg 
  {
    width: 90%;
    margin: auto;
  }
  .Certcontent  p
{
  
  font-size: 1.2vw;
  
}

}

@media  (min-width:537px) and (max-width: 600px) 
{
 

  .Certcontent  p
{
  
  font-size: 1.4vw;
  
}

}
@media  (min-width:457px) and (max-width: 537px) 
{
 

  .Certcontent  p
{
  
  font-size:7px;
  
}
.Certcontent
{
  left:30px
}

}
@media  (min-width:385px) and (max-width: 473px) 
{
 
  .Certcontent
  {
    top:15%;
  }
  .certimg 
  {
    width: 98% !important;
    margin: auto;
  }
  .Certcontent  p
{
  
  font-size:7.5px !important;
  
}
h4,h5
{
  font-size:9px !important;
}
.Certcontent
{
  left:30px
}

}
@media  (min-width:300px) and (max-width: 385px) 
{

  .Certcontent  p
{
  
  font-size:6px;

}
h5,h4
{
  font-size: 7px;
}
.Certcontent
{
  left:30px
}

}
@media  (min-width:370px) and (max-width: 387px) 
{

.certimg .certimg
{
  width: 96% !important;
  
 margin: auto;
}

  .Certcontent  p
{
  
  font-size:6px;
  
}
h5
{
  font-size: 7px !important;
  
}
h4
{
  font-size:  7px !important;
  
}

}
@media  (min-width:315px) and (max-width: 370px) 
{
/*  */
.Certcontent
{
  top:8% !important;
}
.certimg .certimg
{
  width: 94% !important;
 margin: auto;
}
  .Certcontent  p
{
  
  font-size:6.5px;
}
h5
{
  font-size: 7.5px !important;
  

}
h4
{
  font-size:  7.5px !important;
 
}

}

@media  (min-width:280px) and (max-width: 315px) 
{
/*  */
.Certcontent
{
  top:2% !important;
}
.certimg .certimg
{
  width: 97% !important;
 margin: auto;
}
  .Certcontent  p
{
  
  font-size:5.5px;
}
h5
{
  font-size: 6.5px !important;
  

}
h4
{
  font-size:  6.5px !important;
 
}

}
