*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:" Rammetto";
}
body{
    background: #FFFFFF;
    margin: auto;
    width: 100%;
    height: auto;
}
 /* -------heading div start  */
 
  .HEADING
  {
    text-align: center;
    margin: 30px;
    color: #060607;
  margin-top: 50px;
  font-weight:bolder;
  box-shadow: #001273;
  
  }
/* -------heading div end */

/* Stydent info code start */
.studentinfo
{
    
    border: 1px solid #001273;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow:3px 3px 3px 3px;
    margin-bottom: 30px;
    width: 87%;
    margin: auto;
    margin-bottom: 30px;
}
.info
{
    display: flex;
    align-items: center;
  
    flex-wrap: wrap;
}
.text
{
    
    padding: 6px;
    box-shadow:1px  1px 3px;
    margin:15px;
    width: 22%;
    
}
.text1
{
    
    padding: 6px;
    box-shadow:1px  1px 3px;
    margin:15px;
    width: 70%;
    
}

.text3
{
    
    padding: 6px;
    box-shadow:1px  1px 3px;
    margin:15px;
    width:94.5%;
    
}

/* Stydent info code end */
/* 
---------MEDIA QUERRY */
h3{
  
    margin-left: 100px;
    
    color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

@media  (min-width:200px) and (max-width: 1020px) 
{
h3,h2,p
{
  
  font-size: 20px;
  
}

}

@media  (min-width:200px) and (max-width: 1020px) 
{
    .logo{
        width: 30%;
    }
}

@media  (min-width:200px) and (max-width: 923px) 
{
    .text,.text1,.text3{
        width: 80%;
    }
}